@import "tailwindcss";

/*palet #355E3B hijau #800020 merah #002147 biru tua */

@font-face {
  font-family: "UT Staybro";
  src: url("/frontend/public/fonts/UT\ Staybro\ Demo.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Perandory";
  src: url("/frontend/public/fonts/PerandorySemiCondensed.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Grunge Decade";
  src: url("/frontend/public/fonts/GrungeDecadeRegular.woff2") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Perandory", sans-serif;
}
