@import "tailwindcss";

/*palet #355E3B hijau #800020 merah #002147 biru tua */

@font-face {
  font-family: "UT Staybro";
  src: url("/src/assets/fonts/UT Staybro Demo.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Perandory";
  src: url("/src/assets/fonts/PerandorySemiCondensed.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Grunge Decade";
  src: url("/src/assets/fonts/GrungeDecadeRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Perandory", sans-serif;
}
