/*palet #355E3B hijau #800020 merah #002147 biru tua */

@font-face {
  font-family: "UT Staybro";
  src: url("/fonts/UT-Staybro-Demo.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Perandory";
  src: url("/fonts/PerandorySemiCondensed.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Grunge Decade";
  src: url("/fonts/GrungeDecadeRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Stack Sans";
  src: url("/fonts/StackSansText-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";
